version: "3.8"

services:
  flowable:
    container_name: flowable
    image: flowable/flowable-ui
    ports:
      - 8080:8080
    volumes:
      - ./flowable-db/:/home/flowable/flowable-db/
      - ./flowable-java-class/target/flow-1.0-SNAPSHOT.jar:/app/WEB-INF/lib/flow-1.0-SNAPSHOT.jar
      - ./flowable-java-class/target/flow-1.0-SNAPSHOT.jar:/app/WEB-INF/classes/flow-1.0-SNAPSHOT.jar
    depends_on:
      - graphql
      - identity-verification
      - policy-validation

  graphql:
    container_name: graphql
    build:
      context: ./graphql
    ports:
      - 8081:8080

  identity-verification:
    container_name: identity-verification
    environment:
      - RUST_LOG=debug
    build:
      context: ./identity-verification
      dockerfile: Dockerfile

  policy-validation:
    container_name: policy-validation
    environment:
      - RUST_LOG=debug
    build:
      context: ./policy-validation
      dockerfile: Dockerfile
